# Generated data (created by 01_data_preparation.ipynb — re-fetched on every run)
data/*
!data/.gitkeep

# Trained models (created by 04/05 — often 100+ MB, don't belong in git without Git LFS)
models/*.keras
models/*_tokenizer/
models/*.json

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# VS Code
.vscode/

# Environment variables / secrets (in case API keys are added later)
.env

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/